In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('merged_dataset.csv')

df.head()

                                            sentence  hate category
0                     যত্তসব পাপন শালার ফাজলামী!!!!!     1   sports
1                  পাপন শালা রে রিমান্ডে নেওয়া দরকার     1   sports
2  জিল্লুর রহমান স্যারের ছেলে এতো বড় জারজ হবে এটা...     1   sports
3                শালা লুচ্চা দেখতে পাঠার মত দেখা যায়     1   sports
4   তুই তো শালা গাজা খাইছচ।তুর মার হেডায় খেলবে সাকিব     1   sports

In [3]:
df.shape

(85941, 3)

In [4]:
df.isnull().sum()

sentence        0
hate            0
category    26124
dtype: int64

In [5]:
df['category'].value_counts()

category
slander                                   12268
religion                                   5083
crime                                      4763
entertainment                              4527
sports                                     4406
Meme, TikTok and others                    4236
politics                                   3987
celebrity                                  3711
callToViolence_slander                     3661
gender                                     3011
callToViolence                             2504
Personal                                   2189
Geopolitical                               1738
Religious                                   957
Political                                   814
callToViolence_gender                       600
gender_slander                              451
religion_slander                            373
callToViolence_religion                     230
callToViolence_religion_slander             122
callToViolence_gender_slander                98
gender_religion                              55
gender_religion_slander                      16
callToViolence_gender_religion               14
callToViolence_gender_religion_slander        3
Name: count, dtype: int64

In [9]:
df['sentence'].unique().shape[0]

65495

In [11]:
df.shape[0] - df['sentence'].unique().shape[0]

20446

In [13]:
df.drop_duplicates(subset='sentence', keep='first', inplace=True)
df.shape

(65495, 3)

In [14]:
df.isnull().sum()

sentence        0
hate            0
category    16565
dtype: int64

In [15]:
null_dataset = df[df['category'].isnull()]
null_dataset.shape

(16565, 3)

In [16]:
null_dataset.to_csv('null_dataset.csv', index=False)