In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer

In [3]:
df = pd.read_csv('cleaned_dataset.csv')

df.head()

                                            sentence  hate category
0                     যত্তসব পাপন শালার ফাজলামী!!!!!     1   sports
1                  পাপন শালা রে রিমান্ডে নেওয়া দরকার     1   sports
2  জিল্লুর রহমান স্যারের ছেলে এতো বড় জারজ হবে এটা...     1   sports
3                শালা লুচ্চা দেখতে পাঠার মত দেখা যায়     1   sports
4   তুই তো শালা গাজা খাইছচ।তুর মার হেডায় খেলবে সাকিব     1   sports

In [4]:
df.shape

(48930, 3)

In [8]:
df.isnull().sum()

sentence    0
hate        0
category    0
dtype: int64

In [9]:
df['category'].value_counts()

category
slander                                   6266
crime                                     4745
religion                                  4697
entertainment                             4519
sports                                    4392
Meme, TikTok and others                   4207
politics                                  3961
celebrity                                 3662
callToViolence_slander                    2279
Personal                                  2189
gender                                    1919
Geopolitical                              1738
callToViolence                            1610
Religious                                  957
Political                                  814
callToViolence_gender                      317
gender_slander                             256
religion_slander                           166
callToViolence_religion                     95
callToViolence_religion_slander             56
callToViolence_gender_slander               45
gender_religion                             29
gender_religion_slander                      6
callToViolence_gender_religion               4
callToViolence_gender_religion_slander       1
Name: count, dtype: int64

In [21]:
df['sentence'].unique().shape[0]

65495

In [48]:
df.isnull().sum()

sentence    0
hate        0
category    0
dtype: int64

In [10]:
df['category'].unique()

array(['sports', 'entertainment', 'crime', 'religion', 'politics',
       'celebrity', 'Meme, TikTok and others', 'Personal', 'Political',
       'Geopolitical', 'Religious', 'callToViolence',
       'callToViolence_gender', 'callToViolence_religion',
       'callToViolence_slander', 'slander', 'gender_slander',
       'callToViolence_gender_slander', 'religion_slander', 'gender',
       'callToViolence_gender_religion', 'gender_religion',
       'callToViolence_religion_slander', 'gender_religion_slander',
       'callToViolence_gender_religion_slander'], dtype=object)

In [11]:
df['category'] = df['category'].str.lower()

df['category'].unique()

array(['sports', 'entertainment', 'crime', 'religion', 'politics',
       'celebrity', 'meme, tiktok and others', 'personal', 'political',
       'geopolitical', 'religious', 'calltoviolence',
       'calltoviolence_gender', 'calltoviolence_religion',
       'calltoviolence_slander', 'slander', 'gender_slander',
       'calltoviolence_gender_slander', 'religion_slander', 'gender',
       'calltoviolence_gender_religion', 'gender_religion',
       'calltoviolence_religion_slander', 'gender_religion_slander',
       'calltoviolence_gender_religion_slander'], dtype=object)

In [12]:
df['category'].unique().shape

(25,)

In [26]:
df = df.dropna(subset=['category'])

In [27]:
df.isnull().sum()

sentence    0
hate        0
category    0
dtype: int64

In [28]:
df.shape

(48930, 3)

In [30]:
df.to_csv('cleaned_dataset.csv', index=False)

In [31]:
df['category'].unique()

array(['sports', 'entertainment', 'crime', 'religion', 'politics',
       'celebrity', 'Meme, TikTok and others', 'Personal', 'Political',
       'Geopolitical', 'Religious', 'callToViolence',
       'callToViolence_gender', 'callToViolence_religion',
       'callToViolence_slander', 'slander', 'gender_slander',
       'callToViolence_gender_slander', 'religion_slander', 'gender',
       'callToViolence_gender_religion', 'gender_religion',
       'callToViolence_religion_slander', 'gender_religion_slander',
       'callToViolence_gender_religion_slander'], dtype=object)

In [13]:
df['category'] = df['category'].str.split('_')

In [14]:
df.shape

(48930, 3)

In [15]:
df['category'].value_counts()

category
[slander]                                      6266
[crime]                                        4745
[religion]                                     4697
[entertainment]                                4519
[sports]                                       4392
[meme, tiktok and others]                      4207
[politics]                                     3961
[celebrity]                                    3662
[calltoviolence, slander]                      2279
[personal]                                     2189
[gender]                                       1919
[geopolitical]                                 1738
[calltoviolence]                               1610
[religious]                                     957
[political]                                     814
[calltoviolence, gender]                        317
[gender, slander]                               256
[religion, slander]                             166
[calltoviolence, religion]                       95
[calltoviolence, religion, slander]              56
[calltoviolence, gender, slander]                45
[gender, religion]                               29
[gender, religion, slander]                       6
[calltoviolence, gender, religion]                4
[calltoviolence, gender, religion, slander]       1
Name: count, dtype: int64

In [55]:
mlb = MultiLabelBinarizer()

cat_bin = pd.DataFrame(mlb.fit_transform(df['category']), columns=mlb.classes_, index=df.index)

cat_bin.head()

,calltoviolence,celebrity,crime,entertainment,gender,geopolitical,"meme, tiktok and others",personal,political,politics,religion,religious,slander,sports
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [56]:
df = pd.concat([df, cat_bin], axis=1)

df.head()

,sentence,hate,category,calltoviolence,celebrity,crime,entertainment,gender,geopolitical,"meme, tiktok and others",personal,political,politics,religion,religious,slander,sports
0,যত্তসব পাপন শালার ফাজলামী!!!!!,1,[sports],0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,পাপন শালা রে রিমান্ডে নেওয়া দরকার,1,[sports],0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,জিল্লুর রহমান স্যারের ছেলে এতো বড় জারজ হবে এটা...,1,[sports],0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,শালা লুচ্চা দেখতে পাঠার মত দেখা যায়,1,[sports],0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,তুই তো শালা গাজা খাইছচ।তুর মার হেডায় খেলবে সাকিব,1,[sports],0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [57]:
df.to_csv('mlb_dataset.csv', index=False)

In [58]:
df.columns

Index(['sentence', 'hate', 'category', 'calltoviolence', 'celebrity', 'crime',
       'entertainment', 'gender', 'geopolitical', 'meme, tiktok and others',
       'personal', 'political', 'politics', 'religion', 'religious', 'slander',
       'sports'],
      dtype='object')

In [59]:
df['political'].value_counts()

political
0    48116
1      814
Name: count, dtype: int64

In [60]:
df['religious'].value_counts()

religious
0    47973
1      957
Name: count, dtype: int64

In [61]:
df['religion'].value_counts()

religion
0    43876
1     5054
Name: count, dtype: int64

In [62]:
df['politics'].value_counts()

politics
0    44969
1     3961
Name: count, dtype: int64

In [65]:
# df['political'] = df['political'] | df['politics']

# df['religious'] = df['religious'] | df['religion']

# df = df.drop(['religion', 'politics'], axis=1)

df.columns

Index(['sentence', 'hate', 'category', 'calltoviolence', 'celebrity', 'crime',
       'entertainment', 'gender', 'geopolitical', 'meme, tiktok and others',
       'personal', 'political', 'religious', 'slander', 'sports'],
      dtype='object')

In [67]:
df['political'].value_counts()

political
0    44155
1     4775
Name: count, dtype: int64

In [68]:
df.shape

(48930, 15)

In [69]:
df.to_csv('mlb_dataset.csv', index=False)

In [70]:
df['hate'].value_counts()

hate
1    29046
0    19884
Name: count, dtype: int64

In [25]:
df = pd.read_csv('mlb_dataset.csv')

cols = ['calltoviolence', 'celebrity', 'crime', 'entertainment', 'gender', 'geopolitical', 'meme, tiktok and others', 'personal', 'political', 'religious', 'slander', 'sports']

for col in cols:
  print(df[col].value_counts())

calltoviolence
0    44523
1     4407
Name: count, dtype: int64
celebrity
0    45268
1     3662
Name: count, dtype: int64
crime
0    44185
1     4745
Name: count, dtype: int64
entertainment
0    44411
1     4519
Name: count, dtype: int64
gender
0    46353
1     2577
Name: count, dtype: int64
geopolitical
0    47192
1     1738
Name: count, dtype: int64
meme, tiktok and others
0    44723
1     4207
Name: count, dtype: int64
personal
0    46741
1     2189
Name: count, dtype: int64
political
0    44155
1     4775
Name: count, dtype: int64
religious
0    42919
1     6011
Name: count, dtype: int64
slander
0    39855
1     9075
Name: count, dtype: int64
sports
0    44538
1     4392
Name: count, dtype: int64

In [30]:
df = pd.read_csv('merged_dataset.csv')

In [31]:
df.head()

                                            sentence  hate category
0                     যত্তসব পাপন শালার ফাজলামী!!!!!     1   sports
1                  পাপন শালা রে রিমান্ডে নেওয়া দরকার     1   sports
2  জিল্লুর রহমান স্যারের ছেলে এতো বড় জারজ হবে এটা...     1   sports
3                শালা লুচ্চা দেখতে পাঠার মত দেখা যায়     1   sports
4   তুই তো শালা গাজা খাইছচ।তুর মার হেডায় খেলবে সাকিব     1   sports

In [32]:
df.drop(['category'], axis=1, inplace=True)

df.head()

                                            sentence  hate
0                     যত্তসব পাপন শালার ফাজলামী!!!!!     1
1                  পাপন শালা রে রিমান্ডে নেওয়া দরকার     1
2  জিল্লুর রহমান স্যারের ছেলে এতো বড় জারজ হবে এটা...     1
3                শালা লুচ্চা দেখতে পাঠার মত দেখা যায়     1
4   তুই তো শালা গাজা খাইছচ।তুর মার হেডায় খেলবে সাকিব     1

In [33]:
df['sentence'].unique().shape[0]

65495

In [42]:
df['hate'].value_counts()

hate
0    36583
1    30795
Name: count, dtype: int64

In [39]:
df.shape

(67378, 2)

In [40]:
# remove duplicates
df.drop_duplicates(inplace=True)

df.shape

(67378, 2)

In [1]:
df.to_csv('final_dataset.csv', index=False)

NameError: name 'df' is not defined

In [5]:
df = pd.read_csv('final_dataset.csv')

In [6]:
df.shape

(67378, 2)

In [7]:
df['hate'].value_counts()

hate
0    36583
1    30795
Name: count, dtype: int64

In [10]:
(30795 / 67378) * 100

45.7048294695598